<script type="text/javascript" src="${request.contextPath}/js/navigation.js"></script>
<link rel="stylesheet" type="text/css" href="${request.contextPath}/css/navigation.css" />
<nav id="nav" class="clearfix">
    <div class="clearfix">
        <div class="nav_com">
            <ul>
                <li class="active"><a href="/">推荐</a></li>
                <li class=""><a href="">最新文章</a></li>
                <li class=""><a href="">关注</a></li>
                <li class=""><a href="">资讯</a></li>
                <li class=""><a href="">人工智能</a></li>
                <li class=""><a href="">云计算/大数据</a></li>
                <li class=""><a href="">区块链</a></li>
                <li class=""><a href="">数据库</a></li>
                <li class=""><a href="">程序人生</a></li>
                <li class=""><a href="">游戏开发</a></li>
                <li class=""><a href="">研发管理</a></li>
                <li class=""><a href="">前端</a></li>
                <li class=""><a href="">移动开发</a></li>
                <li class=""><a href="">物联网</a></li>
                <li class=""><a href="">运维</a></li>
                <li class=""><a href="">计算机基础</a></li>
                <li class=""><a href="">编程语言</a></li>
                <li class=""><a href="">架构</a></li>
                <li class=""><a href="">音视频开发</a></li>
                <li class=""><a href="">安全</a></li>
                <li class=""><a href="">其他</a></li>
                <li class="addNav">增加分类</li>
            </ul>

        </div>
    </div>
</nav>
