.navInput{width: 50%}
.nbtn{display: inline-block; width:12px; height:12px; margin-top:7px; margin-right:5px; background: url("../images/nobtn.png") no-repeat;}
.ybtn{display: inline-block; width:12px; height:12px; margin-right:6px; margin-top:7px; background: url("../images/yesbtn.png") no-repeat;}