<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/jquery/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>
<body>
<main>

    <ul class="feedlist_mod mobile" id="feedlist_id" shown-offset="1542700944139792">
        <li class="clearfix" data-type="blog" data-id="84072247"  shown-time="1542700944">
            <div class="list_con"  data-track-view='{"mod":"popu_459","con":",https://blog.csdn.net/xia236326/article/details/84072247,hot,index_4"}'>
                <div class="title">
                    <h2>
                        <a href="https://blog.csdn.net/xia236326/article/details/84072247" target="_blank"
                           data-track-click='{"mod":"popu_459","con":",https://blog.csdn.net/xia236326/article/details/84072247,hot,index_4"}'>
                            Android Viewpager实现真正无限循环的轮播图                        </a>
                    </h2>
                    <div class="close_tag">
                        <div class="unin_reason_dialog_wrapper">
                            <i class="icon-close"></i>
                            <div class="unin_reason_dialog">
                                <h3>选择理由，精准屏蔽</h3>
                                <ul>
                                    <li class="unin_item csdn-tracking-statistics" data-poputype="feed"
                                        data-feed-show="false" data-dsm="post" data-mod="popu_462">
                                        <a>推荐不准: 热门文章</a>
                                    </li>
                                    <br/>
                                    <li class="unin_item csdn-tracking-statistics" data-poputype="feed"
                                        data-feed-show="false" data-dsm="post" data-mod="popu_462">
                                        <a> 旧闻、重复 </a>
                                    </li>
                                    <br/>
                                    <li class="unin_item csdn-tracking-statistics" data-poputype="feed"
                                        data-feed-show="false" data-dsm="post" data-mod="popu_462">
                                        <a> 内容质量差 </a>
                                    </li>
                                    <br/>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="summary oneline">
                    在网上找了很多viewpager实现图片轮播的，但是大多数通过以下方式在PagerAdapter的getCount()返回一个无限大的数，来实现 伪无限


                    @Override
                    public int getCount() {
                    return Integer.MAX_VALUE;//返回一个无限大的值，可以 无限循环
                    }

                    虽然通过这种方式是能达到效果，但是从严...                </div>
                <dl class="list_userbar">

                    <dt>
                        <a href="https://blog.csdn.net/xia236326" target="_blank" class="user_img">
                            <img src="https://avatar.csdn.net/A/2/A/1_xia236326.jpg"
                                 alt="xia236326" title="xia236326">
                        </a>
                    </dt>
                    <dd class="name">
                        <a href="https://blog.csdn.net/xia236326?utm_source=feed" target="_blank">
                            xia236326                        </a>
                    </dd>
                    <div class="interval"></div>
                    <dd class="time">
                        5天前                    </dd>
                    <div class="interactive floatR">
                        <!--阅读 begin-->
                        <dd class="read_num">
                            <a href="https://blog.csdn.net/xia236326/article/details/84072247"
                               data-track-click='{"mod":"popu_459","con":",https://blog.csdn.net/xia236326/article/details/84072247,hot,index_4"}'>
                                <span class="num">313</span>
                                <span class="text">阅读</span>
                            </a>
                        </dd>
                        <!--阅读 end-->
                        <!--新增评论数+阅读 begin-->
                        <div class="interval"></div>
                        <dd class="common_num ">
                            <a href="https://blog.csdn.net/xia236326/article/details/84072247#commentBox" target="_blank"
                               data-track-click='{"mod":"popu_459","con":",https://blog.csdn.net/xia236326/article/details/84072247#commentBox,hot,index_4"}'>
                                <span class="text">评论</span>
                            </a>
                        </dd>
                        <!--新增评论数+阅读 end-->
                    </div>
                </dl>
            </div>
        </li>
    </ul>
</main>
</body>
</html>